
/* Signin and Signup css */

.App {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.error {
  color: red;
  margin-top: 5px;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

p {
  text-align: center;
  margin-top: 20px;
}

Link {
  text-decoration: none;
  color: #3498db;
}

Link:hover {
  text-decoration: underline;
}





/* Header css */

header {
  background-color: #333;
  padding: 15px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.dropdown {
  position: relative;
}

.dropbtn {
  background-color: #333;
  color: white;
  padding: 10px;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  display: none; 
}

.dropdown-content {
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #555;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .dropbtn {
    display: block; 
  }

  .dropdown-content {
    position: static;
    width: 100%;
    text-align: center;
  }
}


/*Footer css */

.footer {
  background-color: #333;
  padding: 3px;
  text-align: center;
  color: white;
  width: 100%;
  margin-top: 20px;
}
